#wpcontent {
    padding-left: 0;
}

.GAM-setting-page .GAM-header {
    padding: 20px;
    background: #fff;
}

.GAM-setting-page .GAM-subtitle {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
}

.GAM-setting-page .GAM-settings-content {
    padding: 6px 26px 26px 26px;
}

.GAM-setting-page .GAM-header span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.GAM-setting-page .saved-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 6px 20px;
    margin-bottom: 18px;
}

.GAM-settings-content #suggestions ul {
    background: #fff;
    border-radius: 4px;
}

.GAM-settings-content #suggestions ul li {
    position: relative;
    padding: 12px;
    margin: 0;
}

.GAM-settings-content #suggestions ul li::after {
    float: right;
    content: 'Add +';
    font-size: 15px;
    line-height: 15px;
    padding: 10px;
    background: #f0f0f1;
    padding: 8px;
    border-radius: 4px;
    height: 16px;
    width: 60px;
    display: block;
    margin-top: -7px;
    text-align: center;
}

#gam-api-key-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#api_key {
    max-width: 450px;
    width: 100%;
}

.dashicons-saved {
    color: green;
    margin-right: 12px;
}

.GAM-settings-content #suggestions ul li:hover {
    cursor: pointer;
}

.GAM-settings-content #suggestions ul li:hover::after {
    background: #2271b1;
    color: #fff;
}


.search-container {
    padding: 26px 0;
}

#address_search.loading {
    background-image: url('/wp-includes/images/spinner.gif');
    background-repeat: no-repeat;
    background-position: 99% center;
}

.search-container .humaninput {
    position: relative;
    width: 100%;
}
